1='cd -1'
2='cd -2'
3='cd -3'
4='cd -4'
5='cd -5'
6='cd -6'
7='cd -7'
8='cd -8'
9='cd -9'
_='sudo '
dolphinroot='pkexec env DISPLAY=$DISPLAY XAUTHORITY=$XAUTHORITY KDE_SESSION_VERSION=5 KDE_FULL_SESSION=true dolphin /'
cls=clear
egrep='egrep --color=auto'
fastfetch='fastfetch | lolcat'
fgrep='fgrep --color=auto'
gcln='git clone '
snan='sudo nano '
httpserver='python3 -m http.server'
l='ls -lah'
la='exa -a --color=always --group-directories-first'
ll='ls -lh'
ls='exa -al --color=always --group-directories-first'
lsa='ls -lah'
md='mkdir -p'
pacfiles='pacman -F'
pacfileupg='sudo pacman -Fy'
pacin='sudo pacman -S'
pacins='sudo pacman -U'
pacinsd='sudo pacman -S --asdeps'
paclean='sudo pacman -Sc'
pacloc='pacman -Qi'
paclocs='pacman -Qs'
paclr='sudo pacman -Scc'
pacls='pacman -Ql'
paclsorphans='sudo pacman -Qdt'
pacmanallkeys='sudo pacman-key --refresh-keys'
pacmir='sudo pacman -Syy'
pacown='pacman -Qo'
pacre='sudo pacman -R'
pacrem='sudo pacman -Rns'
pacrep='pacman -Si'
pacreps='pacman -Ss'
pacrmorphans='sudo pacman -Rs $(pacman -Qtdq)'
pacupd='sudo pacman -Sy'
pacupg='sudo pacman -Syu'
rd=rmdir
reflector='sudo reflector --latest 7 --protocol http,https --sort rate --save /etc/pacman.d/mirrorlist '
rr='curl -s -L https://raw.githubusercontent.com/keroserene/rickrollrc/master/roll.sh | bash'

